---
import OkayImage from "../assets/okay.png";
import Image from "astro/components/Image.astro";
---

<div
	class="relative bg-white w-9/10 md:w-7/10 mx-auto p-10 rounded-xl shadow-2xl shadow-neutral-200 border border-neutral-200"
>
	<Image
		src={OkayImage}
		alt="Okay"
		class="mx-auto w-24 md:w-32 absolute -top-10 md:-top-15 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
	/>
	<h1
		class="mb-4 text-3xl md:text-3xl md:text-center text-stone-600 tracking-tight"
	>
		¿Serías un Buen <b class="font-bold text-sky-600"
			>Compañero/a de Tesis</b
		>?
	</h1>
	<p class="text-base text-stone-600 md:text-center">
		Prueba diseñada para los internos
		de Marzo-2026, con el objetivo de ver si vale la pena considerarte como
		compañero/a de tesis. No es un test científico, es chercha... <span
			class="text-yellow-600">O tal vez no...</span
		>
	</p>
	<a
		href="/quiz"
		class="mt-5 block bg-sky-600 text-white py-3 px-10 rounded-lg self-center justify-self-center text-center hover:bg-sky-700 transition-colors duration-300"
	>
		¡Quiero Saber!
	</a>
</div>